<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/> -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>   
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-signin">
    <form th:action="@{/account/signup}" method="post">
        <img class="mb-4" th:src="@{/images/logo.png}" alt="logo.png">
        <h1 class="h3 mb-3 fw-normal">Terarosa Sign up</h1>

        <div class="form-floating">
            <label for="userNameKr">타입</label><br/>
            <label> <input type="radio" id="role" name="role" value="admin"> Admin </label>
            <label> <input type="radio" id="role" name="role" value="user"> User </label>
        </div>

        <div class="form-floating">
            <label for="username">Your Login ID</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Login ID" autofocus>
            <input class="w-50 btn btn-lg btn-primary" type="button" value="중복확인" onclick="checkId();"/>
        </div>

        <div class="form-floating">
            <label for="password">Your Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <div class="form-floating">
            <label for="userNameKr">Your Name</label>
            <input type="text" class="form-control" id="userNameKr" name="userNameKr" placeholder="Name">
        </div>

        <div class="form-floating">
            <label for="userPhone">Your Phone number</label>
            <input type="text" class="form-control" id="userPhone" name="userPhone" placeholder="'-'를 제외한 숫자 11자리" onkeypress="onlyNumber();">
        </div>

        <div class="form-floating">
            <label for="userPhone">주소1</label><br/>
            <select class="select_type01 w170" th:name="userAddr1" id="address1">
                <option value="">시, 도를 선택해주세요.</option>                
            </select>
        </div>

        <div class="form-floating">
            <label for="userPhone">주소2</label><br/>
            <select class="select_type01 w170" th:name="userAddr2" id="address2">
                <option value="">시, 군, 구를 선택해주세요.</option>                
            </select>
        </div>

        <div class="form-floating">
            <label for="userNameKr">상세주소</label>
            <input type="text" class="form-control" id="address3" th:name="userAddr3" placeholder="address">
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <p class="mt-5 mb-3 text-muted">&copy; Terarosa 2021</p>
    </form>
</main>



</body>

<script>
    let flag = false;
    $.ajax({
        type: 'GET',
        url:'/account/addr/main',
        dataType : 'json',
        async: true, //동기, 비동기 여부
        cache :false, // 캐시 여부
        success: function(result){        
            console.log("result", result);
            $.each(result.data, function(name,value){
                $('#address1').append('<option value="' + name + '">' + value + '</option>');
            });
        },
        error:function(xhr,status,error){
            console.log('error:'+error);
        }
    });

    $("#address1").change(function(){
        const value =  $(this).val();

        $.ajax({
            type: 'GET',
            url:'/account/addr/sub',
            data : {addr1 : value},
            dataType : 'json',
            async: true, //동기, 비동기 여부
            cache :false, // 캐시 여부
            success: function(result){   
                $('#address2').children('option:not(:first)').remove();     
                $.each(result.data, function(name,value){
                    $('#address2').append('<option value="' + name + '">' + value + '</option>');
                });
            },
            error:function(xhr,status,error){
                console.log('error:'+error);
            }
        });
    })
</script>
<script>
    function onlyNumber(){
            if((event.keyCode<48)||(event.keyCode>57))
            event.returnValue=false;
        }
   
   function checkId() {
        const id = document.getElementById("username").value;
        
        $.ajax({
            type: 'GET',
            url:'/account/'+id,
            dataType : 'json',
            async: true, //동기, 비동기 여부
            cache :false, // 캐시 여부
            success: function(result){   
                if (result.data === true) { //아이디가 없을때
                    if(confirm("중복되는 아이디가 없습니다. 사용하시겠습니까 ?")) {
                        flag = true;
                        $("#username").attr("readonly",true);
                    }
                } else { //중복되는 아이디가 있을때
                    alert("아이디가 중복되었습니다.");
                }
            },
            error:function(xhr,status,error){
                console.log('error:'+error);
            }
        });

   }

</script>
</html>
